config/config.php
data/
.htaccess
.user.ini
updater/
*.log
.DS_Store

# Apps locales de prueba
apps/calendar/
apps/files_antivirus/
apps/spreed/

# Archivos locales no rastreados
apps/circles/lib/Migration/RemoveShareTokens.php
apps/dav/lib/CalDAV/Principal/ProxyRead.php
apps/dav/lib/CalDAV/Principal/ProxyWrite.php
apps/dav/lib/DAV/Security/
apps/files_pdfviewer/LICENSES/BSD-2-Clause.txt
apps/files_pdfviewer/lib/Controller/SettingsController.php
apps/files_pdfviewer/lib/Settings/
apps/files_pdfviewer/templates/admin.php
apps/files_sharing/lib/Listener/SharesUpdatedListener.php
apps/files_sharing/lib/Listener/UserHomeSetupListener.php
apps/files_sharing/lib/ShareRecipientUpdater.php
apps/firstrunwizard/l10n/es.js
apps/firstrunwizard/l10n/es.js''
apps/firstrunwizard/l10n/es_MX.js
apps/firstrunwizard/l10n/es_MX.js''
apps/settings/templates/settings/admin/overview.php
apps/settings/templates/settings/admin/overview.php''
apps/text/lib/Migration/Version080000Date20260331132113.php
apps/weather_status/l10n/en_GB.*
apps/weather_status/l10n/et_EE.*
apps/weather_status/l10n/ga.*
apps/weather_status/l10n/pl.*
apps/weather_status/l10n/zh_HK.*
core/doc/admin/_images/install-wizard-autoconfig.png
core/doc/admin/_images/install-wizard-firstrunwizard.png
core/doc/admin/_images/install-wizard-initial.png
core/doc/admin/ai/eu_ai_act.html
core/doc/admin/groupware/contactsinteraction.html
lib/private/Files/Cache/Wrapper/CacheDirPermissionsMask.php
lib/private/Files/Storage/Wrapper/DirPermissionsMask.php
lib/private/Server.php
lib/private/Server.php''
lib/public/Files/Events/UserHomeSetupEvent.php
lib/public/Share/Events/ShareMovedEvent.php
lib/public/Share/Events/ShareTransferredEvent.php
version.php
version.php''
